In [1]:
#CW-1.1
def evenchecker(n):
    if n%2==0:
        print("even")
    else:
        print("odd")
evenchecker(int(input("type any number : ")))

type any number : 10
even

In [2]:
#CW-1.2
def iseven(n):
    if n%2==0:
        return True
    else:
        return False
user = iseven(int(input("type any number : ")))
print(user)

type any number : 17
False

In [3]:
#CW-1.3
def ispos(n):
    if 0 < n:
        return True
    else:
        return False
user = ispos(int(input("type any number : ")))
print(user)

type any number : -5
False

In [4]:
#CW-1.4
def sequence(n):
    if ispos(n):
        for i in range(1,n+1):
            if iseven(i):
                print(i, end=" ")
    else:
        for i in range(n,0):
            if not (iseven(i)):
                print(i,end=" ")
sequence(int(input("type any number : ")))

type any number : 10
2 4 6 8 10

In [5]:
#CW-2.1
def is_valid_traingle(x,y,z):
    if x+y > z and x+z > y and y+z > x:
        return True
    else:
        return False
is_valid_traingle(int(input("")),int(input("")),int(input("")))

7
5
10

True

In [6]:
#CW-2.2
def tri_area(x,y,z):
    if is_valid_traingle(x,y,z):
        s = (x+y+z)/2
        area = (s*(s-x)*(s-y)*(s-z)) ** 0.5
        print(area)
    else:
        print("cant' form a triangle")
tri_area(int(input("")),int(input("")),int(input("")))

7
5
10
16.24807680927192

In [8]:
#CW-3.1
pie = 3.1416

def circle(n):
    area = pie * (n ** 2)
    return area

radius = int(input("enter the value of radius "))
result = circle(radius)
print(result)

enter the value of radius 5
78.53999999999999

In [9]:
#CW-3.2
pie = 3.1416

def sphere(n):
    volume = (4/3) * pie * n**3
    return volume
rdr = int(input("enter the value : "))
result = sphere(rdr)
print(result)

enter the value : 5
523.5999999999999

In [12]:
#3.3
def fitting(d1,d2,dim):
  if d1!=d2:
   if dim==3:
    v1=sphere(d1/2)
    v2=sphere(d2/2)
    if v1>v2:
      print(f"Sphere-2 can fit inside Sphere-1 and {round((v1-v2),3)} cubic units would be left")
    elif v2>v1:
      print(f"Sphere-1 can fit inside Sphere-2 and {round((v2-v1),3)} cubic units would be left")
   else:
    a1=circle(d1/2)
    a2=circle(d2/2)
    if a1>a2:
      print(f"Circle-2 can fit inside Circle-1 and {round((a1-a2),3)} square units would be left")
    elif a2>a1:
      print(f"Circle-1 can fit inside Circle-2 and {round((a2-a1),3)} square units would be left")
  else:
    print("Impossible to fit")
fitting(8,10,2)

Circle-1 can fit inside Circle-2 and 28.274 square units would be left

In [ ]:
#HW-1.1

def is_prime(n):
    if n<2:
        return False
    for i in range(2,int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_check = is_prime(int(input("enter any value : ")))
print(prime_check)

enter any value : 7
True

In [ ]:
#HW-1.2

def is_perfect(n):
    sum = 0
    for i in range(1,n):
        if n%i==0:
            sum +=i
    return sum == n
perfect_check = is_perfect(int(input("enter any value : ")))
print(perfect_check)

enter any value : 6
True

In [ ]:
#HW-1.3

def special_sum(n):
    sum = 0
    for i in range(2,n+1):
        if is_prime(i) or is_perfect(i):
            sum += i
    return sum
result = special_sum(int(input("enter any value : ")))
print(result)

enter any value : 8
23

In [ ]:
#HW-2.1

def show_dots(n):
    for i in range(1,n+1):
        print(".",end="")
show_dots(int(input("")))

5
.....

In [ ]:
#HW-2.2

def show_palindrome(n):
  for i in range(1,n):
    print(i,end="")
  for i in range(n,0,-1):
    print(i,end="")
show_palindrome(int(input("enter any value : ")))

enter any value : 5
123454321

In [ ]:
#HW-2.3

def show_dots(n):
    for i in range(1,n+1):
        print(".",end="")
def show_palindrome(n):
  for i in range(1,n):
    print(i,end="")
  for i in range(n,0,-1):
    print(i,end="")
def show_triangle(n):
  for i in range(1,n+1):
    show_dots(n-i)
    show_palindrome(i)
    show_dots(n-i)
    print()
show_triangle(5)

....1....
...121...
..12321..
.1234321.
123454321

In [ ]:
#HW-3.1
def calc_tax(age,salary):
  if age<18 or salary<10000:
    return 0
  elif 10000<=salary<=20000:
    tax= int((salary*7)/100)
    return tax
  elif salary>20000:
    tax= int((salary*14)/100)
    return tax
result = calc_tax(20,18000)
print(result)

1260

In [ ]:
#HW-3.2
def calc_tax(age,salary):
  if age<18 or salary<10000:
    return 0
  elif 10000<=salary<=20000:
    tax= int((salary*7)/100)
    return tax
  elif salary>20000:
    tax= int((salary*14)/100)
    return tax
def calc_yearly_tax():
  age=int(input())
  sum=0
  for i in range(1,13):
    salary=int(input())
    tax=calc_tax(age,salary)
    sum+=tax
    print("Month",i,",","tax:",tax)
  print("Total Yearly Tax:",sum)
calc_yearly_tax()

22
8000
Month 1 , tax: 0
15000
Month 2 , tax: 1050
22000
Month 3 , tax: 3080
2300
Month 4 , tax: 0
15300
Month 5 , tax: 1071
21000
Month 6 , tax: 2940
34000
Month 7 , tax: 4760
9000
Month 8 , tax: 0
27000
Month 9 , tax: 3780
88000
Month 10 , tax: 12320
32000
Month 11 , tax: 4480
7300
Month 12 , tax: 0
Total Yearly Tax: 33481

In [ ]:
#HW-4.1
def reverse_digits(n):
  if n<10:
    print(n)
  else:
   print(n%10)
   reverse_digits(n//10)
reverse_digits(int(input()))

12345
5
4
3
2
1

In [ ]:
#HW-4.2
def power(n,pwr):
  if pwr==0:
    return 1
  else:
    return n*power(n,pwr-1)
a=int(input())
n=int(input())
print(power(a,n))

3
5
243

In [ ]:
#HW-5.0
def sequence_iterative(n):
  sum=0
  for i in range(1,n+1):
    if i%2!=0:
      sum+=i
    else:
      sum-=i
  print(sum)
sequence_iterative(int(input("enter value : ")))

enter value : 5
3

In [ ]:
#HW-5.1
def sequence_recursive(x,y=1):
  if y==x:
    if y%2!=0:
     return y
    else:
     return -y
  elif y%2!=0:
      return y+sequence_recursive(x,y+1)
  else:
      return -y+sequence_recursive(x,y+1)
sequence_recursive(int(input()))

5

3